<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" href="../static/bootstrap-min.css">
    <style>
        #markdown {
            background-color: #f9f9f9;
            /* Light background */
            border: 1px solid #ddd;
            /* Light border */
            border-radius: 8px;
            /* Rounded corners */
            padding: 20px;
            /* Spacing inside the box */
            margin: 20px auto;
            /* Centering the box */
            max-width: 70%;
            /* Maximum width */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            /* Subtle shadow */
            font-family: Arial, sans-serif;
            /* Font style */
            line-height: 1.6;
            /* Line spacing */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
                <a class="navbar-brand">Documentation</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/download">Download</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Documentation</h1>
        <p>This documentation focuses on how you can use API calls to fetch the tables for your own work.</p>
    </div>
    <div id="markdown">
        <h2 id="post-translational-modifications">Post-Translational Modifications</h2>
        <p>As this website hosts PTMs archived in <strong>dbPTM</strong>, the following PTMs exist that can be searched
            for:</p>
            <table style="width: 80%; margin: 0 auto; border-collapse: collapse; border: 2px solid black; text-align: center;">
            <tbod>
                <tr>
                    <td>Acetylation</td>
                    <td>Biotinylation</td>
                    <td>Carboxyethylation</td>
                </tr>
                <tr>
                    <td>ADP-ribosylation</td>
                    <td>Blocked amino end</td>
                    <td>Carboxylation</td>
                </tr>
                <tr>
                    <td>Amidation</td>
                    <td>Butyrylation</td>
                    <td>Cholesterol ester</td>
                </tr>
                <tr>
                    <td>AMPylation</td>
                    <td>C-linked Glycosylation</td>
                    <td>Citrullination</td>
                </tr>
                <tr>
                    <td>D-glucuronoylation</td>
                    <td>Crotonylation</td>
                    <td>Disulfide bond</td>
                </tr>
                <tr>
                    <td>Deamidation</td>
                    <td>Decanoylation</td>
                    <td>Farnesylation</td>
                </tr>
                <tr>
                    <td>Deamination</td>
                    <td>Decarboxylation</td>
                    <td>Formation of an isopeptide bond</td>
                </tr>
                <tr>
                    <td>Formylation</td>
                    <td>Gamma-carboxyglutamic acid</td>
                    <td>Geranylgeranylation</td>
                </tr>
                <tr>
                    <td>Glutarylation</td>
                    <td>Glutathionylation</td>
                    <td>Hydroxyceramide ester</td>
                </tr>
                <tr>
                    <td>Hydroxylation</td>
                    <td>Iodination</td>
                    <td>Lactoylation</td>
                </tr>
                <tr>
                    <td>Lactylation</td>
                    <td>Lipoylation</td>
                    <td>Malonylation</td>
                </tr>
                <tr>
                    <td>Methylation</td>
                    <td>Myristoylation</td>
                    <td>N-carbamoylation</td>
                </tr>
                <tr>
                    <td>N-linked Glycosylation</td>
                    <td>N-palmitoylation</td>
                    <td>Neddylation</td>
                </tr>
                <tr>
                    <td>Nitration</td>
                    <td>O-linked Glycosylation</td>
                    <td>O-palmitoleoylation</td>
                </tr>
                <tr>
                    <td>O-palmitoylation</td>
                    <td>Octanoylation</td>
                    <td>Oxidation</td>
                </tr>
                <tr>
                    <td>Phosphatidylethanolamine amidation</td>
                    <td>Phosphorylation</td>
                    <td>Propionylation</td>
                </tr>
                <tr>
                    <td>Pyrrolidone carboxylic acid</td>
                    <td>Pyrrolylation</td>
                    <td>Pyruvate</td>
                </tr>
                <tr>
                    <td>S-archaeol</td>
                    <td>S-carbamoylation</td>
                    <td>S-Cyanation</td>
                </tr>
                <tr>
                    <td>S-cysteinylation</td>
                    <td>S-diacylglycerol</td>
                    <td>S-linked Glycosylation</td>
                </tr>
                <tr>
                    <td>S-nitrosylation</td>
                    <td>S-palmitoylation</td>
                    <td>Serotonylation</td>
                </tr>
                <tr>
                    <td>Stearoylation</td>
                    <td>Succinylation</td>
                    <td>Sulfation</td>
                </tr>
                <tr>
                    <td>Sulfhydration</td>
                    <td>Sulfoxidation</td>
                    <td>Sumoylation</td>
                </tr>
                <tr>
                    <td>Thiocarboxylation</td>
                    <td>Ubiquitination</td>
                    <td>UMPylation</td>
                </tr>
            </tbody>
        </table>

        <p>You can fetch this list by calling this URL with a GET request:</p>
        <pre><code style="font-weight: 1000;"><span class="hljs-regexp">/ptmkb/</span>api<span class="hljs-regexp">/ptms</span>
</code></pre>
        <h2 id="proteins">Proteins</h2>
        <p>To gather information on a protein whose PTMs you wish to identify, you can make a GET request to this URL,
            with either the <code>upid</code> (UniProt ID) or the <code>upac</code> (UniProt Accession Number) required.
            Note that if both are provided, <code>upid</code> will take preference:</p>
        <pre><code style="font-weight: 1000;"><span class="hljs-regexp">/ptmkb/</span>api<span class="hljs-regexp">/proteins</span>
</code></pre>
        <p>For instance, if you wish to gather information on <code>O14746</code>, you must invoke a GET request to the
            URL like so:</p>
        <pre><code style="font-weight: 1000;"><span class="hljs-regexp">/ptmkb/</span>api<span class="hljs-regexp">/proteins?upac=O14746</span>
</code></pre>
        <h2 id="fetching-ptm-table">Fetching PTM Table</h2>
        <p>Besides the availability to download the tables through the website, you can also programmatically fetch the
            table for your work.</p>
        <p>The values calculated for a protein sequence are log-odd frequencies over the entire available sequences in
            dbPTM. If you wish to use a table for your purposes, that can also be fetched using a GET request.</p>
        <p>For fetching a PTM&#39;s table, make a request at the following URL:</p>
        <pre><code style="font-weight: 1000;">/ptmkb/api/<span class="hljs-class"><span class="hljs-keyword">data</span></span>
</code></pre>
        <p>This will fetch all tables available in our database.
            The tables are kept in JSON format for usability and storage.</p>
        <p>For a specific table, pass the name of the PTM to <code>selection</code>. As an example, for Phosphorylation,
            the URL would be:</p>
        <pre><code style="font-weight: 1000;">/ptmkb/api/<span class="hljs-class"><span class="hljs-keyword">data</span>?selection=<span class="hljs-type">Phosphorylation</span></span>
</code></pre>
        <p>For C-linked Glycosylation, it would be:</p>
        <pre><code style="font-weight: 1000;">/ptmkb/api/<span class="hljs-class"><span class="hljs-keyword">data</span>?selection=<span class="hljs-type">C</span>-linked%20Glycosylation</span>
</code></pre>
        <p>A list of all possible selections are listed below for your convenience. Please keep in mind that the PTM
            names are <strong>case-sensitive</strong>! The list will be updated with more PTM types as they are readily
            available.</p>

    </div>
    <script src="../static/docs.js"></script>
</body>

</html>