<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/bootstrap-min.css">
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> -->
    <script id="MathJax-script" async src="../static/tex-mml-chtml.js"></script>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <script src="../static/jquery.min.js"></script>
    <script src="../static/jquery-ui.js"></script>
    <script src="../static/bootstrap-min.js"></script>
    <script src="../static/popper.js" defer></script>
    <script src="../static/3Dmol-min.js" defer></script>
    <script src="../static/index.js" defer></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand">Search</a>

            <hr class="navbar-separator">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/documentation" id="documentationLink">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/integration" id="integrationLink">Integration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/download" id="downloadLink">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactUs" id="contactLink">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" id="aboutLink">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-5" style="width: 80%; align-content: center;">

        <div class="alert alert-info text-center">
            <i class="fa fa-search fa-small"></i>&nbsp;<label>Search</label>&nbsp;(Enter Protein Identifier or a UniProt Accession Number)
            <div class="input-group position-relative">
                <input class="form-control" id="form_value" type="text" placeholder="Enter UniProt ID or UniProt AC">
                <span class="form-group input-group-btn">
                    <button type="button" id="form_submit" class="btn btn-primary" onclick="search()">Search</button>
                </span>
                <div id="suggestions" class="suggestions-box" style="display: none;"></div>
            </div>
        </div>

        <div class="iframe-container main-content" id="iframeContainer">
            <div id="iframeLoader"></div> <!-- Loader class here -->
            <h4 id="iframeData"></h4>
            <!-- <div> class="container mt-4"> -->
            <div class="protein-info-container">
                <div id="protein3DStructure" class="top-right-window">
                    <div id="bottomAlphaFold">Powered by <a href="https://alphafold.ebi.ac.uk">AlphaFold</a>&#169</div>
                </div>
                <table class="table table-striped mx-auto">
                    <tbody class="thead-light" id="proteinInfo">
                    </tbody>
                </table>
            </div>
            <h4 id="iframeData2"></h4>
            <p id="iframeData2Info"></p>

            <div id="proteinStatisticsContainer" class="protein-statistics-container">
                <h1>Protein Statistics</h1>
                <div class="row">
                    <div class="col">
                        <div class="stat-box info">
                            <i class="fa fa-map-pin fa-5x"></i>
                            <i class="fa fa-clipboard-check fa-5x"></i>
                            <a>
                                <h3 id="total-sites">0 Sites</h3>
                                # Experimentally Verified Site(s)
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="stat-box success">
                            <i class="fa fa-sitemap fa-5x"></i>
                            <i class="fa fa-tasks fa-5x"></i>
                            <a>
                                <h3 id="unique-ptms">0+ PTM Types</h3>
                                # Post-Translational Modification(s)
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="stat-box warning">
                            <i class="fa fa-database fa-5x"></i>
                            <i class="fa fa-chart-pie fa-5x"></i>
                            <a>
                                <h3 id="experimentally-verified">0+ Verified PTMs</h3>
                                # Literature Verifying PTM(s)
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="foundProtein" style="position: relative; display: none;">

                <div class="protein-sequence-container">
                    <div class="sequence-displayer" id="sequenceDisplayer"></div>
                    <div id="ptmSearchContainer">
                        <!-- Search Box Section -->
                        <!-- <div id="ptmSearch">
                            <input type="text" id="searchBox" placeholder="Search for PTM to show/hide" oninput="filterCheckboxes()" />
                        </div> -->
                        
                        <!-- Checkbox Container Section -->
                        <div id="giantCheckboxContainer" class="checkbox-container">
                            <ul id="checkboxContainer"></ul>
                        </div>
                    </div>
                    <div id="detailsPanel" class="details-panel">
                        <!-- This will display detailed information about the hovered chunk -->
                        <h3>Chunk Details</h3>
                        <p id="chunkDetails">Hover over a chunk to see details.</p>
                    </div>
                </div>

                <p id="iframeData3"></p>
                
            </div>
            <div id="ptmSiteInfo" style="display: none; align-content: center;">
                <h3>PTM Info</h3>
                <table class="table table-striped mx-auto">
                    <tbody class="thead-light" id="ptmInfo">
                    </tbody>
                </table>
                <h3>PTM Vector Data</h3>
                <p>This vector data is used to calculate scores mentioned above (substitute the values in the equations).</p>
                <table class="table table-bordered table-responsive th td" id="dataVector" style="display: none; font-family: 'Courier New', Courier, monospace; margin: 0 auto">
                    <thead id="vectorHead" style="text-align: center"></thead>
                    <tbody id="vectorBody" style="text-align: center"></tbody>
                </table>
                
                <div style="display: flex; width: 110%;">
                    <div>
                        <div id="xlabel" style="margin-bottom: 10px; text-align: center;"></div>
                        <table class="table table-bordered table-responsive th td" id="dataTable" style="display: none; font-family: 'Courier New', Courier, monospace;  text-align: center;">
                            <thead id="tableHead"></thead>
                            <tbody id="tableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content"></div>
    <footer class="footer bg-light py-3">
        <div class="container text-center">
            <p class="mb-0"> This website is open for everyone to use. For more information, please contact us.</p>
            <p class="mb-0"><a href="http://biolabs.lums.edu.pk/birl">© 2024 Biomedical Informatics & Engineering Research Laboratory (BIRL)</a></p>
        </div>
    </footer>
</body>
</html>
