<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTMKB - Integration of RESTful APIs</title>
    <link rel="stylesheet" href="../static/bootstrap-min.css">
    <link rel="stylesheet" type="text/css" href="../static/swagger-ui.css" />
    <script type="text/javascript" src="../static/swagger-ui-bundle.js"></script>
    <script type="text/javascript" src="../static/swagger-ui-standalone-preset.js"></script>
    <script type="text/javascript" src="../static/bootstrap-min.js"></script>
    <script type="text/javascript" src="../static/popper.js" defer></script>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/integration.js"></script>
    <script src="../static/toggler.js" defer></script>
</head>

<body>
    <nav class="navbar" id="navBar" style="background-color: #163c82;">
        <a href="/">
            <img src="/picture?picture=logo/ptmkb-1-alt2.png" style="width: 150px; padding: 10px 10px;" alt="PTMKB">
        </a>
        <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
        <ul class="navbar-items">
            <li><a href="/search" class="nav-link"><span class="nav-item-box">Search</span></a></li>
            <li><a href="/propensity" class="nav-link"><span class="nav-item-box">Propensity</span></a></li>
            <li><a href="/documentation" class="nav-link"><span class="nav-item-box">Documentation</span></a></li>
            <li><a href="/integration" class="nav-link active"><span class="nav-item-box">Integration</span></a></li>
            <li><a href="/download" class="nav-link"><span class="nav-item-box">Download</span></a></li>
            <li><a href="/about" class="nav-link"><span class="nav-item-box">About</span></a></li>
        </ul>
    </nav>

    <div id="markdown">
        <h1 style="text-align: center; font-size: 28px; color: #444; font-weight: bold;">Integration</h1>
        <p style="text-align: center;"><strong>This page covers how to programmatically access information for your work.</strong></p>
        
        <hr>
        <h2 style="text-align: center; font-size: 24px; color: #444; font-weight: bold;">Precursor</h2>
        <p style="text-align: justify;">
            To test out the integration functionality, you are required to create a user for yourself (don't worry, there's no email attached!). Your user handle will get a unique access token that you can copy and use below as well as in your system. <a href="/signup-login">Please navigate over here</a> to create your own user.
        </p>

        <hr>
        <h2 style="text-align: center; font-size: 24px; color: #444; font-weight: bold;">Tutorial Script</h2>
        <p style="text-align: justify;">
            In addition to a web interface, we also offer a Python script for getting started with using our API calls in your system. You can download the script by clicking the button below:
            <div style="text-align: center;">
                <a href="/download_script" class="additional-button" download="ptmkb_get_started.py">Download Script</a>
            </div>
        </p>
            
        
        <hr>
        <h3 style="text-align: center; font-size: 20px; color: #444; font-weight: bold;">API Documentation</h3>
        <div id="swagger-ui"></div>
    </div>

    <footer class="footer bg-light py-3">
        <div class="container text-center">
            <p class="mb-0">This website is free and open to all users and there is no login requirement.</p>
            <p class="mb-0">Biomedical Informatics & Engineering Research Laboratory, Lahore University of Management Sciences, DHA, Lahore, Pakistan. +92 42 3560 8000</p>
            <p class="mb-0"><a href="http://birl.lums.edu.pk/">© 2024 BIRL</a></p>
        </div>
    </footer>
</body>

</html>