<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTMKB - Propensity Calculation of a Protein subsequence</title>
    <link rel="stylesheet" href="../static/bootstrap-min.css">
    <script id="MathJax-script" async src="../static/tex-mml-chtml.js"></script>
    <script src="../static/jquery.min.js"></script>
    <script src="../static/jquery-ui.js"></script>
    <script src="../static/bootstrap-min.js"></script>
    <script src="../static/popper.js" defer></script>
    <script src="../static/3Dmol.js" defer></script>
    <script src="../static/propensity.js" defer></script>
    <script src="../static/toggler.js" defer></script>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        .custom-input {
            border: 1px solid #ccc;
            display: inline-block;
            width: 250px;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            white-space: nowrap;
            overflow: hidden;
            outline: none;
            text-align: center;
            font-family: Arial, sans-serif;
            }

        .middle-char {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar" id="navBar" style="background-color: #163c82;">
        <a href="/">
            <img src="/picture?picture=logo/ptmkb-1-alt3.png" style="width: 150px; padding: 10px 10px;" alt="PTMKB">
        </a>
        <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
        <ul class="navbar-items">
            <li><a href="/search" class="nav-link"><span class="nav-item-box">Search</span></a></li>
            <li><a href="/propensity" class="nav-link active"><span class="nav-item-box">Propensity</span></a></li>
            <li><a href="/documentation" class="nav-link"><span class="nav-item-box">Documentation</span></a></li>
            <li><a href="/integration" class="nav-link"><span class="nav-item-box">Integration</span></a></li>
            <li><a href="/download" class="nav-link"><span class="nav-item-box">Download</span></a></li>
            <li><a href="/about" class="nav-link"><span class="nav-item-box">About</span></a></li>
        </ul>
    </nav>

    <div class="container-fluid mt-5" style="width: 80%; align-content: center;" id="search_field">
        <div class="background-wrapper-2" id="search_field">
            <div class="content-layer">
                
                <div class="input-group position-relative">
                    <!-- <input class="form-control" id="sequence_value" type="text" placeholder="Enter subsequence (valid windows - 13, 15, 17, 19, 21)" style="text-align: center; text-transform: uppercase;"> -->
                    <div contenteditable="true" class="form-control" id="sequence_value" placeholder="Enter subsequence (valid windows - 13, 15, 17, 19, 21)" style="text-align: center; text-transform: uppercase; padding: 5px;"></div>
                    <p id="sequenceLength" style="display: inline-block; width: 40px; height: 40px; line-height: 40px; text-align: center; font-family: 'Courier New', Courier, monospace; font-size: 16px; background-color: #f0f0f0; border: 2px solid #ddd; border-radius: 8px; margin: 0; color: #333;">0</p>
                </div>
                <!-- <div class="input-group position-relative" style="width: 400px; margin: 20px auto;">
                    <input class="form-control" id="ptm_value" type="text" placeholder="Enter Post-Translational Modification" style="text-align: center;">
                    <div id="suggestions" class="suggestions-box" style="display: none;"></div>
                </div> -->
                <div style="margin-top: 10px; margin-bottom: 20px;">
                    <i class="fa fa-search fa-small"></i>
                    <label style="margin: 0; font-weight: bold;">Examples:</label><br>
                    <!-- <a onclick="exampleSearch(this)" class="index-options">P04637</a> 
                    <a onclick="exampleSearch(this)" class="index-options">G6PI_HUMAN</a>
                    <a onclick="exampleSearch(this)" class="index-options">VP26A_MOUSE</a>
                    <a onclick="exampleSearch(this)" class="index-options">O14639-4</a>
                    <a onclick="exampleSearch(this)" class="index-options">P25311</a> -->
                    <a onclick="exampleSearch(this)" class="index-options">ACERQHLSAGNKLRG <strong>(Histone H2A)</strong></a><br><br>
                    <a onclick="exampleSearch(this)" class="index-options">RGEDMSMQALSTL <strong>(20S Proteasome - β Subunit)</strong></a><br><br>
                    <a onclick="exampleSearch(this)" class="index-options">QKQLEDKVEELKPLSQEKS <strong>(p53 Tumor Suppressor)</strong></a><br><br>
                </div>

                <div class="input-group position-relative" style="width: 400px; margin: 20px auto;">
                    <input class="form-control" id="ptm_value" type="text" placeholder="Select Post-Translational Modification" style="text-align: center; background: white;" readonly>
                    <div id="suggestions" class="suggestions-box" style="position: absolute; top: 100%; left: 0; right: 0; z-index: 1000; background: white; border: 1px solid #ccc; display: none;"></div>
                </div>

                <div>
                    <span class="form-group input-group-btn">
                        <button type="button" id="form_submit" class="btn btn-primary" onclick="calculate()" disabled="true">Calculate</button>
                    </span>
                </div>

            </div>
        </div>
    </div>


    <div>
        <span class="form-group input-group-btn">
            <button id="search_again" type="button"class="btn btn-primary" style="display: none; margin: 20px auto;">Search Again</button>
        </span>
        <script>
            document.getElementById('search_again').addEventListener('click', () => {
                document.getElementById('ptmInfo').innerHTML = '';
                document.getElementById('search_again').style.display = 'none';
                document.getElementById('search_field').style.display = 'block';
                document.getElementById('ptmVector').innerHTML = '';
                document.getElementById('ptmTable').innerHTML = '';
                document.getElementById('vectorInfo').style.display = 'none';
                document.getElementById('tableInfo').style.display = 'none';
                document.getElementById('subsequenceDiv').innerHTML = '';
            });
        </script>
    </div>

    <div id="messageDiv" style="padding: 40px; margin-left: auto; margin-right: auto;"><h5>Loading tables, please wait...</h5></div>

    <div id="subsequenceDiv" style="padding: 40px; margin-left: auto; margin-right: auto;"></div>

    <table class="PropensityTable">
        <tbody id="ptmInfo"></tbody>
    </table>

    <h3 id="vectorInfo" style="text-align: center; font-size: 28px; color: #444; font-weight: bold; display: none; margin-top: 20px; margin-bottom: -20px;">Vector used for calculation</h3>
    <div id="ptmVector" style="margin-left: auto; margin-right: auto; padding: 40px"></div>

    <h3 id="tableInfo" style="text-align: center; font-size: 28px; color: #444; font-weight: bold; display: none; margin-top: 20px;">Table used for vector formation</h3>
    <div id="ptmTable" style="margin-left: auto; margin-right: auto;"></div>

    <div class="main-content"></div>

    <footer class="footer bg-light py-3" style="padding-top: 20px;">
        <div class="container text-center">
            <p class="mb-0" id="footerYear">This website is free and open to all users and there is no login requirement.</p>
            <p class="mb-0">Biomedical Informatics & Engineering Research Laboratory, Lahore University of Management Sciences</p>
            <p class="mb-0">DHA, Lahore, Pakistan, +92 (42) 3560 8352</p>
        </div>
    </footer>
    <script>
        // Get the current year and set it to the span
        const date = new Date().getFullYear();
        document.getElementById("footerYear").innerHTML = `<a href="http://birl.lums.edu.pk/">© ${date} BIRL</a> — This website is free and open to all users and there is no login requirement.`
    </script>
</body>
</html>