<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTMKB - Propensity Calculation of a Protein subsequence</title>
    <link rel="stylesheet" href="../static/bootstrap-min.css">
    <script id="MathJax-script" async src="../static/tex-mml-chtml.js"></script>
    <script src="../static/jquery.min.js"></script>
    <script src="../static/jquery-ui.js"></script>
    <script src="../static/bootstrap-min.js"></script>
    <script src="../static/popper.js" defer></script>
    <script src="../static/3Dmol.js" defer></script>
    <script src="../static/propensity.js" defer></script>
    <script src="../static/toggler.js" defer></script>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        .custom-input {
            border: 1px solid #ccc;
            display: inline-block;
            width: 250px;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            white-space: nowrap;
            overflow: hidden;
            outline: none;
            text-align: center;
            font-family: Arial, sans-serif;
            }

        .middle-char {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar" id="navBar" style="background-color: #163c82;">
        <a href="/">
            <img src="/picture?picture=logo/ptmkb-1-alt2.png" style="width: 150px; padding: 10px 10px;" alt="PTMKB">
        </a>
        <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
        <ul class="navbar-items">
            <li><a href="/search" class="nav-link"><span class="nav-item-box">Search</span></a></li>
            <li><a href="/propensity" class="nav-link active"><span class="nav-item-box">Propensity</span></a></li>
            <li><a href="/documentation" class="nav-link"><span class="nav-item-box">Documentation</span></a></li>
            <li><a href="/integration" class="nav-link"><span class="nav-item-box">Integration</span></a></li>
            <li><a href="/download" class="nav-link"><span class="nav-item-box">Download</span></a></li>
            <li><a href="/about" class="nav-link"><span class="nav-item-box">About</span></a></li>
        </ul>
    </nav>

    <div class="container-fluid mt-5" style="width: 80%; align-content: center;">
        <div class="protein-statistics-container" style="background-color: #d8ecff; text-align: justify; text-align-last: center; max-width: 600px; margin: 0 auto; margin-bottom: -20px; padding-bottom: 20px;">
            <p>Here, you can provide a protein sequence window along with a post-translational modification (PTM) as input to calculate the <strong>Propensity</strong> of the residue - that is, the tendency of a residue to undergo said PTM.</p>
        </div>
        <div class="alert alert-info text-center" style="width: 600px; margin-top: 40px;">
            <i class="fa fa-search fa-small"></i><label><strong>Calculate Protein Subsequence Propensity</strong></label>
            <div class="input-group position-relative">
                <!-- <input class="form-control" id="sequence_value" type="text" placeholder="Enter subsequence (valid windows - 13, 15, 17, 19, 21)" style="text-align: center; text-transform: uppercase;"> -->
                <div contenteditable="true" class="form-control" id="sequence_value" placeholder="Enter subsequence (valid windows - 13, 15, 17, 19, 21)" style="text-align: center; text-transform: uppercase; padding: 5px;"></div>
                <p id="sequenceLength" style="display: inline-block; width: 40px; height: 40px; line-height: 40px; text-align: center; font-family: 'Courier New', Courier, monospace; font-size: 16px; background-color: #f0f0f0; border: 2px solid #ddd; border-radius: 8px; margin: 0; color: #333;">0</p>
            </div>
            <div class="input-group position-relative" style="width: 400px; margin: 20px auto;">
                <input class="form-control" id="ptm_value" type="text" placeholder="Enter Post-Translational Modification" style="text-align: center;">
                <div id="suggestions" class="suggestions-box" style="display: none;"></div>
            </div>
            <div>
                <span class="form-group input-group-btn">
                    <button type="button" id="form_submit" class="btn btn-primary" onclick="calculate()" disabled="true">Calculate</button>
                </span>
            </div>
            <i class="fa fa-search fa-small"></i><label style="padding: 20px; margin: 0;"><strong>Example:</strong></label>
            <a id="exampleInput" onclick="exampleSearch(this)" style="color: #1a0dab; text-decoration: underline; font-weight: normal; cursor: pointer;">WKLLPENNVLSPLPSQAMDDW; Phosphorylation</a>
        </div>
    </div>
    <div id="messageDiv" style="padding: 40px; margin-left: auto; margin-right: auto;"><h5>Loading tables, please wait...</h5></div>

    <div id="subsequenceDiv" style="padding: 40px; margin-left: auto; margin-right: auto;"></div>

    <table class="PropensityTable">
        <tbody id="ptmInfo"></tbody>
    </table>

    <h3 id="vectorInfo" style="text-align: center; font-size: 28px; color: #444; font-weight: bold; display: none; margin-top: 20px; margin-bottom: -20px;">Vector used for calculation</h3>
    <div id="ptmVector" style="margin-left: auto; margin-right: auto; padding: 40px"></div>

    <h3 id="tableInfo" style="text-align: center; font-size: 28px; color: #444; font-weight: bold; display: none; margin-top: 20px;">Table used for vector formation</h3>
    <div id="ptmTable" style="margin-left: auto; margin-right: auto;"></div>

    <div class="main-content"></div>

    <footer class="footer bg-light py-3">
        <div class="container text-center">
            <p class="mb-0">This website is free and open to all users and there is no login requirement.</p>
            <p class="mb-0">Biomedical Informatics & Engineering Research Laboratory, Lahore University of Management Sciences, DHA, Lahore, Pakistan. +92 42 3560 8000</p>
            <p class="mb-0"><a href="http://birl.lums.edu.pk/">© 2024 BIRL</a></p>
        </div>
    </footer>
</body>
</html>